html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

td input[type="date"]{
    display: inline;
    width: 140px;
    padding: 6px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.table.table-striped.table-bordered.detail-view img,
.obraz-form img{
    max-width: 500px;
    max-height: 500px;
    margin: 0;
}

.table.table-striped.table-bordered img{
    max-width: 140px;
    max-height: 80px;
    margin: 0 auto;
    display: block;
}

.lbtn{
    display: inline-block;
    float: left;
    padding-top: 4px;
}

.site-index .content p{
    margin-top: 20px
}

.site-index .content{
    padding-top: 120px;
}

.select-lekarz{
    width: 100%;
    min-height: 115px;
}

.select-lekarz option{
    padding: 8px;
}

.select-lekarz option:nth-child(even){
    background: #f9f9f9;
}
